<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div class="pager-container">
        <h1 class="pager-header">Panels</h1>
        <h3>Default panels</h3>
        <form class="code-example">
            <div class="well blank">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb1">
                                <label></label>
                            </div>
                            <label for="cb1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb2" disabled>
                                <label></label>
                            </div>
                            <label for="cb2">Option two is disabled</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb3" checked>
                                <label></label>
                            </div>
                            <label for="cb3">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb4" checked disabled>
                                <label></label>
                            </div>
                            <label for="cb4">Option two is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd1" name="rd" checked>
                                <label></label>
                            </div>
                            <label for="rd1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd2" name="rd">
                                <label></label>
                            </div>
                            <label for="rd2">Option two can be something else and selecting it will deselect option one</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd3" name="rd" disabled>
                                <label></label>
                            </div>
                            <label for="rd3">Option three is disabled</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd4" disabled checked>
                                <label></label>
                            </div>
                            <label for="rd4">Option three is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseDefault1" aria-expanded="true">
                                Panel title
                                <small>This is sub title</small>
                            </a>
                        </h3>
                    </div>
                    <div id="collapseDefault1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb1" type="checkbox" checked>
                                    <label></label>
                                </div>
                                <label for="scb1">Option one is this and that be sure to include why it's great</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox">
                                    <label></label>
                                </div>
                                <label for="scb2">Option two can be something else and selecting it will deselect option one</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox" disabled>
                                    <label></label>
                                </div>
                                <label for="scb2">Option three is disabled</label>
                            </div>
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>

        </form>
        <h3>Simple panels</h3>
        <form class="code-example">
            <div class="well blank">
                <div class="panel panel-default panel-simple">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb1">
                                <label></label>
                            </div>
                            <label for="cb1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb2" disabled>
                                <label></label>
                            </div>
                            <label for="cb2">Option two is disabled</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb3" checked>
                                <label></label>
                            </div>
                            <label for="cb3">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb4" checked disabled>
                                <label></label>
                            </div>
                            <label for="cb4">Option two is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default panel-simple">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd1" name="rd" checked>
                                <label></label>
                            </div>
                            <label for="rd1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd2" name="rd">
                                <label></label>
                            </div>
                            <label for="rd2">Option two can be something else and selecting it will deselect option one</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd3" name="rd" disabled>
                                <label></label>
                            </div>
                            <label for="rd3">Option three is disabled</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd4" disabled checked>
                                <label></label>
                            </div>
                            <label for="rd4">Option three is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default panel-simple">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseSimple1" aria-expanded="true">
                                Panel title
                                <small>This is sub title</small>
                            </a>
                        </h3>
                    </div>
                    <div id="collapseSimple1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb1" type="checkbox" checked>
                                    <label></label>
                                </div>
                                <label for="scb1">Option one is this and that be sure to include why it's great</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox">
                                    <label></label>
                                </div>
                                <label for="scb2">Option two can be something else and selecting it will deselect option one</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox" disabled>
                                    <label></label>
                                </div>
                                <label for="scb2">Option three is disabled</label>
                            </div>
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>

        </form>
        <h3>Skyline panels</h3>
        <form class="code-example">
            <div class="well blank">
                <div class="panel panel-default panel-skyline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb1">
                                <label></label>
                            </div>
                            <label for="cb1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb2" disabled>
                                <label></label>
                            </div>
                            <label for="cb2">Option two is disabled</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb3" checked>
                                <label></label>
                            </div>
                            <label for="cb3">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="checkbox">
                            <div class="tick-checkbox">
                                <input type="checkbox" id="cb4" checked disabled>
                                <label></label>
                            </div>
                            <label for="cb4">Option two is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default panel-skyline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd1" name="rd" checked>
                                <label></label>
                            </div>
                            <label for="rd1">Option one is this and that be sure to include why it's great</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd2" name="rd">
                                <label></label>
                            </div>
                            <label for="rd2">Option two can be something else and selecting it will deselect option one</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd3" name="rd" disabled>
                                <label></label>
                            </div>
                            <label for="rd3">Option three is disabled</label>
                        </div>
                        <div class="radio">
                            <div class="circle-radio">
                                <input type="radio" id="rd4" disabled checked>
                                <label></label>
                            </div>
                            <label for="rd4">Option three is disabled</label>
                        </div>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="panel panel-default panel-skyline">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseSky1" aria-expanded="true">
                                Panel title
                                <small>This is sub title</small>
                            </a>
                        </h3>
                    </div>
                    <div id="collapseSky1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb1" type="checkbox" checked>
                                    <label></label>
                                </div>
                                <label for="scb1">Option one is this and that be sure to include why it's great</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox">
                                    <label></label>
                                </div>
                                <label for="scb2">Option two can be something else and selecting it will deselect option one</label>
                            </div>
                            <div class="checkbox">
                                <div class="slide-checkbox">
                                    <input id="scb2" type="checkbox" disabled>
                                    <label></label>
                                </div>
                                <label for="scb2">Option three is disabled</label>
                            </div>
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>

        </form>

        <h3>Collapsible panels</h3>
        <form class="code-example">
            <div class="well blank">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                    Collapsible Group Item #1
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Collapsible Group Item #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Collapsible Group Item #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>

</html>