<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="views/example-dialogs/css/example.css">
</head>

<body>
    <div class="pager-container">
        <h1 class="pager-header">Dialogs</h1>

        <h3>Message</h3>
        <form class="code-example">
            <button id="btnSimple" class="btn btn-default" type="button">Dialog</button>
            <button id="btnSimpleDefault" class="btn btn-default" type="button">Default dialog</button>
            <button id="btnSimplePrimary" class="btn btn-primary" type="button">Primary dialog</button>
            <button id="btnSimpleSuccess" class="btn btn-success" type="button">Success dialog</button>
            <button id="btnSimpleInfo" class="btn btn-info" type="button">Info dialog</button>
            <button id="btnSimpleWarning" class="btn btn-warning" type="button">Warning dialog</button>
            <button id="btnSimpleDanger" class="btn btn-danger" type="button">Danger dialog</button>
        </form>

        <h3>Confirm</h3>
        <form class="code-example">
            <button id="btnConfirmCompleted" class="btn btn-default" type="button">Confirm Completed</button>
            <button id="btnConfirmError" class="btn btn-danger" type="button">Confirm Error</button>
        </form>

        <h3>Remote</h3>
        <form class="code-example">
            <button id="btnRemote" class="btn btn-default" type="button">Remote Dialog</button>
            <button id="btnRemoteModule" class="btn btn-primary" type="button">Remote js module dialog</button>
            <button id="btnRemoteError" class="btn btn-danger" type="button">Remote Dialog Error</button>
        </form>

        <h3>Custom buttons</h3>
        <form class="code-example">
            <button id="btnRemoteConfirm" class="btn btn-primary" type="button">Confirm logic</button>
            <button id="btnRemoteCustom" class="btn btn-default" type="button">Custom button logic</button>
        </form>

        <h3>Custom content and buttons</h3>
        <form class="code-example">
            <button id="btnCustomButtons" class="btn btn-primary" type="button">Custom dialog</button>
        </form>

        <h3>Tabs</h3>
        <form class="code-example">
            <button id="btnTabs" class="btn btn-primary" type="button">Tabs dialog</button>
        </form>

        <h3>Full screen</h3>
        <form class="code-example">
            <button id="btnFullScreen" class="btn btn-default" type="button">Full screen dialog</button>
            <button id="btnFullDesign" class="btn btn-primary" type="button">Custom dialog</button>
        </form>
    </div>
</body>

</html>