<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div class="pager-container">
        <h1 class="pager-header">Lists</h1>
        <h3>Basic items</h3>
        <form class="code-example">
            <div class="well blank">
                <ul class="list-group">
                    <li class="list-group-item">Javascript</li>
                    <li class="list-group-item">C/C++</li>
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Go</li>
                </ul>
            </div>
        </form>
        <h3>Linked items</h3>
        <form class="code-example">
            <div class="well blank">
                <ul class="list-group">
                    <a class="list-group-item">Javascript</a>
                    <a class="list-group-item">C/C++</a>
                    <a class="list-group-item active">C#</a>
                    <a class="list-group-item">Python</a>
                    <a class="list-group-item">Go</a>
                </ul>
            </div>
        </form>

        <h3>Disabled items</h3>
        <form class="code-example">
            <div class="well blank">
                <ul class="list-group">
                    <a class="list-group-item">Javascript</a>
                    <a class="list-group-item">C/C++</a>
                    <a class="list-group-item">C#</a>
                    <a class="list-group-item">Python</a>
                    <a class="list-group-item disabled">Go</a>
                </ul>
            </div>
        </form>


        <h3>Badges</h3>
        <form class="code-example">
            <div class="well blank">
                <ul class="list-group">
                    <a class="list-group-item">Javascript
                        <span class="badge">103</span>
                    </a>
                    <a class="list-group-item">C/C++</a>
                    <a class="list-group-item active">C#
                        <span class="badge">88</span>
                    </a>
                    <a class="list-group-item">Python</a>
                    <a class="list-group-item">Go</a>
                </ul>
            </div>
        </form>


        <h3>Custom content</h3>
        <form class="code-example">
            <div class="well blank">
                <ul class="list-group">
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">Javascript</h4>
                        <p class="list-group-item-text">This is content text</p>
                    </a>
                    <a class="list-group-item active">
                        <h4 class="list-group-item-heading">C/C++</h4>
                        <p class="list-group-item-text">This is content text</p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">C#</h4>
                        <p class="list-group-item-text">This is content text</p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">Python</h4>
                        <p class="list-group-item-text">This is content text</p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">Go</h4>
                        <p class="list-group-item-text">This is content text</p>
                    </a>
                </ul>
            </div>
        </form>

    </div>
</body>

</html>