<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="views/example-paginations/css/example.css">
</head>

<body>
    <div class="pager-container">
        <h1 class="pager-header">Paginations</h1>

        <h3>Common</h3>
        <form class="code-example">
            <div class="frame border">
                <div class="frame-container">
                    <textarea id="paginationlog1"></textarea>
                </div>
                <div id="pagination1"></div>
            </div>
        </form>

    </div>
</body>

</html>