<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="views/example-three-simple-line/css/example.css">
</head>

<body>
    <div id="three-container" class="frame no-scroll">

    </div>

    <script src="views/example-three-earth/js/AdditiveBlendShader.js"></script>

    <script id="vertexShaderAtmosphere" type="x-shader/x-vertex">
        varying vec3 vNormal;
        void main() 
        {
            vNormal = normalize( normalMatrix * normal );
            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }
    </script>

    <script id="fragmentShaderAtmosphere" type="x-shader/x-vertex"> 
        uniform float c;
        uniform float p;
        varying vec3 vNormal;
        void main() 
        {
            float intensity = pow( c - dot( vNormal, vec3( 0.0, 0.0, 1.0 ) ), p ); 
            gl_FragColor = vec4( 2, 2, 2.0, 0.1 ) * intensity;
        }
    </script>
</body>

</html>