<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div class="pager-container">
        <h1 class="pager-header">Popups</h1>

        <h3>Button drops</h3>
        <form class="code-example">
            <div class="dropdown btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                    <li class="dropdown-header">Dropdown header</li>
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                    <li class="dropdown-header">Dropdown header</li>
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li class="disabled">
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropup btn-group">
                <button id="btndropdown1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropup
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
        </form>

        <h3>Types</h3>
        <form class="code-example">
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button id="btndropdown1" class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
        </form>

        <h3>Split button dropdowns</h3>
        <form class="code-example">
            <div class="dropdown btn-group">
                <button type="button" class="btn btn-default">Dropdown</button>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropup btn-group">
                <button type="button" class="btn btn-primary">Dropdown</button>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button type="button" class="btn btn-success">Dropdown</button>
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropup btn-group">
                <button type="button" class="btn btn-info">Dropdown</button>
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown btn-group">
                <button type="button" class="btn btn-warning">Dropdown</button>
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
            <div class="dropup btn-group">
                <button type="button" class="btn btn-danger">Dropdown</button>
                <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)">Action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Another action</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">Separated link</a>
                    </li>
                </ul>
            </div>
        </form>

        <h3>Group</h3>
        <form class="code-example">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-default">Left</button>
                    <button class="btn btn-default">Middle</button>
                    <button class="btn btn-default">Rigth</button>
                    <div class="btn-group dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropup
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)">Action</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Another action</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:void(0)">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>


        <h3>Tooltips</h3>
        <form>
            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="this is a tooltip on top">Tooltip on top</button>
            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="this is a tooltip on bottom">Tooltip on bottom</button>
            <button class="btn btn-default" data-toggle="tooltip" data-placement="left" title="this is a tooltip on left">Tooltip on left</button>
            <button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="this is a tooltip on right">Tooltip on right</button>
        </form>

        <h3>Popovers</h3>
        <form>
            <button class="btn btn-default" data-toggle="popover" data-trigger="focus" data-placement="top" title="Popover" data-content="this is a popover on top">Popover on top</button>
            <button class="btn btn-default" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Popover" data-content="this is a popover on bottom">Popover on bottom</button>
            <button class="btn btn-default" data-toggle="popover" data-trigger="focus" data-placement="left" title="Popover" data-content="this is a popover on left">Popover on left</button>
            <button class="btn btn-default" data-toggle="popover" data-trigger="focus" data-placement="right" title="Popover" data-content="this is a popover on right">Popover on right</button>
        </form>
        <h3>Vertical variation</h3>
        <form class="code-example">
            <div class="btn-toolbar">
                <div class="btn-group-vertical">
                    <button class="btn btn-default">Left</button>
                    <button class="btn btn-default">Middle</button>
                    <button class="btn btn-default">Rigth</button>
                    <div class="btn-group dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropup
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)">Action</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Another action</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:void(0)">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>